
.overview {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Vazir', sans-serif;
}
text {
  font-family: 'Vazir', sans-serif !important;
}
.item {
  width: 48%;
  height: 48%;
  margin-bottom: 2%;
}
.region {
  justify-content: space-between;
}
.item:nth-child(1n) {
  width: 100%;
}
.item:nth-child(3n) {
  width: 100%;
}
.cases{
  padding: 20px;
}
.narrative {
  font-size: 16px;
  max-width: 400px;
  line-height: 26px;
}
.kname {
    color: black;
    padding-bottom: 10px !important;
}
.overview .kpi-hed {
  font-weight: bold;
  align-items: center;
  font-size: 20px;
}
.overview .toplinksgithub a {
  background: #d3d3d3;
  font-size: 14px;
  color: #1d87ae;
  margin: 10px;
  padding: 2px 10px;
}
.overview .table .change.neg, .overview .kpi .grow, .color-neg {
  color: #cc1100;
}
.overview p .color-neg {
  background: #ececec;
  padding: 0 5px;
}
.overview .kpi-box {
  justify-content: space-around;
  background: #F2CF66;
  padding: 10px 0 !important;
  margin: 20px 0 !important;
  border-radius: 10px;
  color: #FFF;
	text-decoration: none;
}
.overview .kpi .grow {
  font-size: 12px;
  font-weight: normal;
  padding-top: 10px !important;

}
.color-neg{
  color: #FF5733;
}
.overview .kpi .num {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
}
.overview p .color-neg {
  padding: 0 5px;
}
.overview .kpi .kname {
  font-size: 12px;
}
.overview .kpi-sm .kpi-hed {
  font-size: 16px;
  line-height: 10px;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.overview .kpi-sm .num {
  font-size: 18px;
  line-height: 20px;
}
.overview .kpi-sm .kname {
  font-size: 11px;
  line-height: 10px;
  padding-bottom: 10px !important;
}

.overview .fs9 {
  font-size: 12px;
  color: green;
}
.overview .d-flex {
  display: flex;
}
.overview .text-center { text-align: center !important; }
.overview .text-left { text-align: left !important; }
.overview .text-right { text-align: right !important; }
.overview .text-uppercase { text-transform: uppercase !important; }
.overview div {
  margin: 0 !important;
  padding: 0 !important;
}

.overview .table {
  border-collapse: collapse;
  margin: auto !important;
  text-align: right;
  margin-top: 14px;
  color: black;
  font-size: 13px;
  display: table !important;
}
.overview .table .change {
  color: #999;
  font-size: 80%;
  text-align: start;
  vertical-align: inherit;
  font-weight: normal;
  padding-left: 1px !important;
}
.overview .table th {
  font-weight: normal;
}
.overview .table tbody tr {
  border-bottom: 1px solid #eee;
  background: none;
}
.overview .table td, .overview .table th {
  padding: 1px 1px 1px 10px !important;
  vertical-align: middle;
  border: none;
  background: none;
}
.overview .table th {
  text-align: center;
  text-transform: uppercase;
}
.overview .table thead {
  border-bottom: 1px solid black;
}
